@media only screen and (max-width: 767px) {
	.carousel-cell {
		width: 100%; /* full width */
		height: auto;
		margin-top: 10px;
		margin-right: 10px;
	}
	.titleHeading{
		margin-top: -25vh;
		font-size: 3em;
	}
	.subtitleHeading{
		font-size: 2em;
	}
	.bodyText{
		font-size: 1em;
	}
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
	.carousel-cell {
		width: 100%; /* full width */
		height: auto;
		margin-top: 10px;
		margin-right: 10px;
	}
	.titleHeading{
		margin-top: -25vh;
		font-size: 4em;
	}
	.subtitleHeading{
		font-size: 2.5em;
	}
	.bodyText{
		font-size: 1em;
	}
}
@media only screen and (min-width: 900px) {
	.carousel-cell {
		width: 100%; /* full width */
		height: auto;
		margin: 5% 2.5%;
	}
	.titleHeading{
		margin-top: -55vh;
		font-size: 5em;
	}
	.subtitleHeading{
		font-size: 3em;
	}
	.bodyText{
		font-size: 1.5em;
	}
}
footer {
	margin-top: 2em;
	padding: 1em 0;
	background-color: black;
}
.titleHeading{
	font-family: 'Bungee', cursive;
	color: white;
}
.subtitleHeading{
	font-family: 'Bungee', cursive;
	color: white;
}
.titleBackground {
	display: inline-block;
	margin-top: auto;
}
.formSpacing {
	padding: 1em 0;
}
.heading{
	font-family: 'Bungee', cursive;
	font-size: 3em;
	color: #281306;
}
.bodyText{
	font-family: 'Arvo', serif;
	color: #281306;
}
.main-carousel{
	background-color: #72382E;
	margin-bottom: 1.5em;
}
.flickity-viewport {
	transition: height 0.2s;
}
/**
* Removed extra space between navbar and title section
**/
.navbar {
	margin-bottom: 0px;
}
/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #A5541F;
}

.sfooter-content {
	flex: 1 0 auto;
	background-color: #A5541F;
}

/***
* Magnific Popup
* http://dimsemenov.com/plugins/magnific-popup/
***/

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}


/*

for zoom animation

*/

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
