@media only screen and (max-width: 767px) {
	.carousel-cell {
		width: 100%; /* full width */
		height: auto;
		margin-right: 10px;
	}
}
@media only screen and (min-width: 900px) {
	.carousel-cell {
		width: 100%; /* full width */
		height: 150vh;
		margin-right: 10px;
	}
}
footer {
	margin-top: 1em;
	padding: 1em 0;
	background-color: black;
}
.background {
	display: inline-block;
	position: relative;
}
.backgroundImage{
	background-image: url(../img/photos/butterfly-min.jpg);
}
.formSpacing {
	padding: 1em 0;
}
.heading{
	font-family: 'Bungee', cursive;
	font-size: 5vw;
}
.bodyText{
	font-family: 'Arvo', serif;
	font-size: 1.5em;
}
.main-carousel{
	margin-bottom: 1.5em;
}
.flickity-viewport {
	transition: height 0.2s;
}
/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/***
* Magnific Popup
* http://dimsemenov.com/plugins/magnific-popup/
***/

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}


/*

for zoom animation

*/

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
